[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CSMES"]
	path = CSMES
	url = https://github.com/cran/CSMES
[submodule "CustomerScoringMetrics"]
	path = CustomerScoringMetrics
	url = https://github.com/cran/CustomerScoringMetrics
[submodule "GAMens"]
	path = GAMens
	url = https://github.com/cran/GAMens
